@model IEnumerable<WebProje.Models.Users>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

@{

    Users user;
    user = ViewBag.user;
}
<body class="bg02">

    <div class="row tm-content-row tm-mt-big">
        @if (User.Identity.IsAuthenticated)
        {

            @if (User.IsInRole("Admin"))
            {

                <div class="tm-col tm-col-big">

                    <div class="bg-white tm-block p-3" style="border-radius:0">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="tm-block-title d-inline-block">@lang["Accounts"]</h2>
                            </div>
                        </div>
                        <ol class="tm-list-group tm-list-group-alternate-color tm-list-group-pad-big">
                            @foreach (var item in Model)
                            {
                                <li class="tm-list-group-item">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </li>
                            }



                        </ol>
                    </div>
                </div>
            }

        }

        <div class="tm-col tm-col-big">
            <div class="bg-white tm-block p-3 " style="border-radius:0">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title">@lang["Edit Account"]</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form asp-action="Update" class="tm-signup-form">
                            <div class="form-group">  <input type="hidden" id="FormStatus" value="@user.Id" class="form-control"> </div>

                            <div class="form-group">
                                <label for="Name">@lang["Name"]</label>
                                <input placeholder=@user.Name id="Name" name="Name" value=@user.Name type="text" class="form-control validate">
                            </div>
                            <div class="form-group">
                                <label for="LastName">@lang["LastName"]</label>
                                <input placeholder=@user.LastName id="LastName" name="LastName" value=@user.LastName type="text" class="form-control validate">
                            </div>
                            <div class="form-group">


                                <input placeholder=@user.UserName id="name" name="name" value=@user.UserName type="hidden" class="form-control validate">
                            </div>
                            <div class="form-group">


                                <input placeholder=@user.PasswordHash id="name" name="name" value=@user.PasswordHash type="hidden" class="form-control validate">
                            </div>

                            <div class="form-group">
                                <label for="phone">@lang["Phone Number"]</label>
                                <input placeholder=@user.Phone id="phone" name="phone" value=@user.Phone type="tel" class="form-control validate">
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-sm-4">
                                    <a href="/Account/Delete/@user.Id" class="btn btn-danger mb-3">
                                        @lang["Delete Account"]
                                    </a>
                                    <button type="submit" value="Save" class="btn btn-primary">
                                        @lang["Update"]
                                    </button>
                                </div>
                                @*<div class="col-12 col-sm-8 tm-btn-right">

                                        <a href="/Account/Delete/@UserManager.GetUserId(User)" class="btn btn-danger">
                                            @lang["Delete Account"]
                                        </a>
                                    </div>*@
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*
            <div class="tm-col tm-col-small">
                <div class="bg-white tm-block">
                    <h2 class="tm-block-title">@lang["Profile Image"]</h2>
                    <img src="img/profile-image.png" alt="Profile Image" class="img-fluid">
                    <div class="custom-file mt-3 mb-3">
                        <input id="fileInput" type="file" style="display:none;" />
                        <input type="button" class="btn btn-primary d-block mx-xl-auto" value="Upload New..." onclick="document.getElementById('fileInput').click();" />
                    </div>
                </div>
            </div>
        *@
    </div>
</body>
