@model IEnumerable<WebProje.Models.Product>

@{
    ViewData["Title"] = "Home Page";

}

<!-- row --><body class="bg02">
               
    <div class="container-fluid">

        @foreach (var item in Model)
        {
        <div class="card p-2 m-2 d-inline-block d-grid" style="width: 20rem;">
            @if (item.ImageUrl == null)
            {
                  <img class="card-img-top" src="/images/ekmek.png" alt="Card image cap">}
            else
            {
                   <img class="card-img-top" src="/images/@item.ImageUrl" alt="Card image cap">
            }
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <h7 class="card-text"> @item.ProductPrice TL</h7>
                <p class="card-text">@item.ProductStock</p>
                <p>@item.Description</p>
                <a href="/Products/Satis/@item.ProductID" class="btn btn-primary">@lang["Buy"]</a>
            </div>

        </div>
        }
    </div>
</body>
@* <div class="row tm-content-row tm-mt-big">
        <a href="/Home/Barkod">

            <div class="tm-col tm-col-big tm-block ">
                <div class=" tm-block bg-secondary   d-flex justify-content-center align-items-center   ">

                    <h1>Barkod Sorgulama</h1>
                </div>
            </div>
        </a>
        <a href="/Home/Kasa" style=" ">

            <div class="tm-col tm-col-big tm-block ">
                <div class=" tm-block bg-secondary   d-flex justify-content-center align-items-center   ">
                    <h1>Kasa</h1>

                </div>
            </div>
        </a>
        <a href="/Home/Urunler" style=" ">

            <div class="tm-col tm-col-big tm-block ">
                <div class=" tm-block bg-secondary   d-flex justify-content-center align-items-center   ">
                    <h1>Kasa</h1>

                </div>
            </div>
        </a>
        <a href="/Home/Kasa" style=" ">

            <div class="tm-col tm-col-big tm-block ">
                <div class=" tm-block bg-secondary   d-flex justify-content-center align-items-center   ">
                    <h1>Kasa</h1>

                </div>
            </div>
        </a>


    </div>*@
</div>