@model IEnumerable<WebProje.Models.Categoryies>

@{
    ViewData["Title"] = "Index";
}




@*
        <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

*@

<div class="bg-white">
    <h2 class="tm-block-title d-inline-block">Ürün Kategorileri</h2>
    <table class="table table-hover table-striped mt-3">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td><a href="/Categoryies/Delete/@item.CategoryID" class="fas fa-trash-alt tm-trash-icon"></a></td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Create">Yeni Kategori Oluştur</a>
</div>
                
